@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Questrial', sans-serif;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    max-width: auto;
    margin: 0;
}

h1 {
    color: azure;
}

.screen {
    cursor: pointer;
    width: 60%;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.controls {
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.controls .btn {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.controls .fa-stop {
    color: red;
    margin-right: 10px;
}

.controls .fa-play {
    color: green;
}

.controls .fa-pause {
    color: whitesmoke;
}

.controls .timestamp {
    color: blue;
    font-weight: bold;
    margin-left: 20px;
}

@media(max-width: 800px) {
    .screen,
    .controls {
        width: 90%;
    }
}